<div class="card">
    <h5 class="card-header">Campeonato</h5>
    <div class="card-body">
        <h5 class="card-title">Campeonato Brazil</h5>
        <p class="card-text">Disfrutade emocionates partidas para ver quien es el mejor.</p>
        <a href="#" class="btn btn-primary">Go</a>
    </div>
</div>
<div class="card">
    <h5 class="card-header">Juega en Geforce now</h5>
    <div class="card-body">
        <h5 class="card-title">Juega Rainbow six siege desde la nube</h5>
        <p class="card-text">Disfruta juegar con tus amigos sin necesidad de instalar el juego.</p>
        <a href="#" class="btn btn-primary">Geforce now</a>
    </div>
</div>