<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#">Acerca</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Servicios</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">Ubisoft</h5>
        <p class="card-text">Tom Clancy's Rainbow Six: Siege es un videojuego de disparos en primera persona táctico multijugador de 5 contra 5 en el cual hay 3 modos de juego, "Desactivar la bomba", "Capturar el objetivo" y "Protección del rehén"</p>
        <a href="https://www.ubisoft.com/es-mx/game/rainbow-six/siege" target="_blank" class="btn btn-primary">Ubisoft Rainbow Six Siege</a>
    </div>
</div>